* {
    margin: 0;
}
body {
    height: 100vh;
}

footer {
    background-color: lightblue;
    height: 30px;
}

.page {
    height: calc(100% - 30px);
    background-color: lightgreen;
    width: 100vw;
    position: relative;
}

main {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right:0

}
h1, h2 {
    display: inline-block;
    margin-bottom: 20px;
}

#logo {
    margin-top: auto;
    display: inline;
    width: 50%;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#signup-box {
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.rounded-btn {
    border-radius: 20px;    
    background-color: white;
    padding: 4px 15px;
    width: 240px;
    font-size: large;
    margin: 10px auto;
    display: block;
}

footer {
    text-align: center;
}

footer a, footer span {
    margin: 2px 20px;
}