* {
    margin: 0;
}
main {
    background-color: lightpink;
    text-align: center;
    justify-content: center;
}
body > div {
    height: 100vh;
}
.page>img, .page>main {
    width: 50%;
}
.content {
    width: 500px;
    box-shadow: -1px 1px 5px #888888;
    margin-top: 50px;
    height: 650px;
    padding: 20px;
}
footer {
    justify-content: space-around;
}

.container {
    display: flex;   
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow {
    flex-grow: 1
}
